.discount-class {
    text-decoration: line-through !important;
}

@media print {
    .not-show {
        display: none !important;
    }

    .show {
        display: block !important;
    }

    body, html {
        height: 99% !important;
    }
}

label {
    font-size: 18px !important;
}

.table-factor {
    text-align: center !important;
    font-size: 13px
}

.text-white {
    color: #FFFFFF !important;
}

/*.tag{*/
/*width: 100%;*/
/*padding: 5px !important;*/
/*border-radius: 5px !important;*/
/*font-size: 8px !important;*/
/*color: #FFFFFF !important;*/
/*word-spacing: 0 !important;*/
/*word-wrap: normal;*/
/*}*/

.help-block {
    display: block !important;
    width: 100% !important;
}

.catOriginal {
    color: #28D094;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 15px;
}

@media (min-width: 992px) {
    .navbar .navbar-header {
        padding-right: 120px;
    }
}

.thumbnail {
    position: relative;
    display: inline-block;
    /*z-index: 5 !important;*/
}

.caption-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    padding-top: 25%;
    height: 100%;
    background-color: #000000;
    opacity: 0.7;
    transform: translate(-50%, -50%);
}

.caption {
    font-size: 30px;
    text-align: center;
    color: white;
    opacity: 1;
    font-weight: bold;
}

.eshant-wrapper {
    width: 85px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    left: -2px;
}

.eshant {
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    position: relative;
    top: 6px;
    text-align: center;
    width: 100px;
    left: -11px;
    padding: 7px 5px 5px 5px;
    z-index: 1 !important;
    background-color: #F50057;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    color: white;
}

.percent-wrapper {
    width: 85px;
    height: 100px;
    overflow: hidden;
    position: absolute;
    top: -2px;
    left: -2px;
}

.percent {
    -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
    font-size: 20px;
    position: relative;
    top: 6px;
    text-align: center;
    width: 100px;
    left: -11px;
    padding: 7px 5px 5px 5px;
    z-index: 1 !important;
    background-color: #03A9F4;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    color: white;
}

.label-control {
    text-align: left;
}

.error-border {
    border: 1px solid #FF4961 !important;
}

.form-group .select2-selection {
    height: 40px !important;
}

.summary {
    font-size: 17px !important;
}

table th {
    text-align: center !important;
}

input[type=checkbox] {
    margin-top: 35px !important;
}

.form-group .select2-selection__rendered {
    margin-top: 6px !important;
}

.popup-load-data-error {
    color: red;
    padding: 10px;
}

tr:hover {
    cursor: pointer;
}